$first-color: #3ec1d3;
$second-color: #f6f7d7;
$third-color: #ff9a00;
$fourth-color: #ff165d;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$icon-color: #000000;
