@import "./vars.scss";

.root {
  margin-top: 24px;
}

.entryList {
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    justify-content: center;
  }
}

.entryItem {
  margin-top: 24px;
}

.entryItemEmpty {
  width: 324px;
}

.progress {
  position: relative;
  left: calc(50% - 20px);
  top: 20px;
}

.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: $favZIndex;
  background-color: $primary !important;
  color: $white;
  &:hover {
    opacity: 0.8;
  }
}
