@import "../styles/vars";

.root {
  width: 300px;
  position: relative;
  background-color: $white;
  @media screen and (max-width: 480px) {
    width: 88vw;
  }
}

.headerRoot {
  align-items: center;
  padding: 8px 16px;
  background-color: $secondary;
  cursor: pointer;
  &:hover {
    .headerTitle {
      text-decoration: underline;
      text-decoration-color: $primary;
      text-decoration-thickness: 2px;
      text-underline-offset: 1px;
    }
  }
}

.headerAvatar {
  margin-right: 8px;
  cursor: pointer;
}

.headerAvatarIcon {
  background-color: $primary;
}

.headerTitle {
  font-size: 18px;
}

.headerAction {
  margin-top: 0;
}

.body {
  position: relative;
  height: calc(100% - 56px);
  cursor: pointer;
  &:hover {
    .title {
      text-decoration: underline;
      text-decoration-color: $primary;
      text-decoration-thickness: 2px;
      text-underline-offset: 1px;
    }
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  cursor: pointer;
  padding-bottom: 16px !important;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  height: calc(1.5em * 3);
}

.captions {
  margin-top: 24px;
}

.caption {
  font-size: 0.68rem;
  word-break: break-all;
}

.comments {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, 0.5);
    border-radius: 4px;
  }
}

.commentIcon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.commentContent {
  margin-right: 4px;
  font-size: 13px;
  font-family: "Noto Sans JP", sans-serif;
}

.commentUsername {
  font-size: 11px;
}
