@import "../styles/vars";

.root {
  width: 300px;
  position: relative;
  background-color: $white;
  @media screen and (max-width: 480px) {
    width: 88vw;
  }
}

.bookmarkLink {
  color: $text;
  text-decoration: none;
}

.headerRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: $secondary;
  cursor: pointer;
  &:hover {
    .headerTitle {
      text-decoration: underline;
      text-decoration-color: $primary;
      text-decoration-thickness: 2px;
      text-underline-offset: 1px;
    }
  }
}

.headerAvatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerAvatarIcon {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  background-color: $primary;
}

.headerTitle {
  font-size: 18px;
}

.body {
  position: relative;
  height: calc(100% - 56px);
}

.imageLink {
  display: block;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 260px;
  @media screen and (max-width: 320px) {
    max-height: 210px;
  }
  @media screen and (min-width: 481px) {
    max-height: 210px;
  }
}

.content {
  padding-bottom: 16px !important;
}

.titleLink {
  display: block;
  color: $text;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $primary;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
  }
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  @media screen and (min-width: 481px) {
    height: calc(1.5em * 3);
  }
}

.captions {
  margin-top: 24px;
}

.caption {
  font-size: 0.68rem;
  word-break: break-all;
}

.comments {
  max-height: 200px;
  overflow-y: scroll;
  @media screen and (min-width: 481px) {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 50, 0.5);
      border-radius: 4px;
    }
  }
}

.comment {
  margin: 8px auto;
}

.commentIcon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.commentContent {
  margin-right: 4px;
  font-size: 13px;
  font-family: "Noto Sans JP", sans-serif;
}

.commentUsername {
  font-size: 11px;
}

.more {
  display: block;
  margin-top: 8px;
  text-align: right;
}

.commentOpen {
  display: flex;
  align-items: center;
}

.commentBlockTitle {
  margin-left: 4px;
}

.link {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
}

.is_trend {
  color: $primary;
  font-size: 28px;
}
