@import "./vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 40px;
}

.link {
  color: $text;
  text-decoration: none;
}

.mt {
  margin-top: 32px;
  font-weight: bold;
}
