.header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.main {
  padding: 0 30px 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
