/* .container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
} */

.header {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
