.menu {
  display: flex;
  margin-top: 60px;
}

.button {
  width: 200px;
  border: 1px solid #ccc;
  padding: 15px 0;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
