@import "./vars.scss";

.root {
  display: flex;
  align-items: center;
  margin-bottom: -16px;
}

.count {
  margin-right: 1rem;
  font-size: 1rem;
  line-height: 1;
}

.countNum {
  margin-right: 4px;
  line-height: 1;
  color: $primary;
}
