.root {
  @media screen and (min-width: 481px) {
    flex-basis: 380px;
    min-width: 380px;
    padding: 16px 0;
  }
}

.gridContainer {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  @media screen and (min-width: 481px) {
    overflow-x: auto;
  }
}

.gridItem {
  min-width: 140px;
  @media screen and (min-width: 481px) {
    min-width: auto;
  }
}

.glue {
  font-size: 16px;
  margin: 0 12px;
  @media screen and (min-width: 481px) {
    font-size: 24px;
    // margin: 0;
  }
}

.input {
  width: 140px;
  @media screen and (min-width: 481px) {
    width: auto;
  }
}
