.root {
  margin-top: 16px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 40px;
}

.divider {
  margin: 0 24px;
}
