@import "_vars.scss";

.search {
  margin-top: 60px;
}

.simpleSearch {
  display: flex;
}

.detailSearch {
  margin-top: 30px;
}

.block {
  display: flex;
  align-items: start;
  margin-top: 15px;
}

.blockTitle {
  width: 140px;
  font-size: 16px;
}

.periodDelimiter {
  padding: 0 10px;
}

.tagList {
  display: flex;
  margin-top: 5px;
}

.tag {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 10px;
  margin-right: 5px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &.active {
    background-color: $third-color;
  }
}

.bukumaInput {
  width: 60px;
}
